<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration>
          <fieldMap>
            <fieldNames>
              <!--FIX FOR ISSUE 146415 -->
              <field fieldName="__semantics" set:type="System.String[]" />
            </fieldNames>
          </fieldMap>
          <documentBuilderType>Sitecore.Support.ContentSearch.Azure.CloudSearchDocumentBuilder, Sitecore.Support.145992</documentBuilderType>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>