<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration>
          <fieldMap>
            <fieldNames>
              <!--FIX FOR ISSUE 146415 -->
              <field fieldName="__semantics" set:type="System.String[]" />
            </fieldNames>
          </fieldMap>
          <documentBuilderType>Sitecore.Support.ContentSearch.Azure.CloudSearchDocumentBuilder, Sitecore.Support.145992</documentBuilderType>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <settings>
      <!--  AZURE SEARCH MAX RESULTS
            The max number of results that a query returns by Azure Search provider.
            If value is set to "", value from "ContentSearch.SearchMaxResults" setting is used. 
            However Azure Search service limits number of documents in a search result by 1000.
            
            Default value: "1000"
      -->
      <setting name="ContentSearch.AzureSearch.SearchMaxResults" value="1000" />
    </settings>
  </sitecore>
</configuration>